In [32]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings
import seaborn as sns
from scipy.stats.mstats import winsorize
import matplotlib.pyplot as plt
from scipy.stats.stats import ttest_ind
%matplotlib inline

warnings.filterwarnings('ignore')

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'studentsperformance'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

df = pd.read_sql_query('select * from studentsperformance',con=engine)

engine.dispose()

print(df.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

1. Are there any differences between the genders, ethnicities, and parental level of education with respect to their performances in exams?

In [58]:
metrics = ['math score', 'reading score', 'writing score']

gen_mean = df.groupby('gender')[metrics].mean()
print(gen_mean)

ttest_ind(df[df['gender'] == 'male'][metrics], df[df['gender'] == 'female'][metrics])

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

Ttest_indResult(statistic=array([ 5.38324587, -7.95930801, -9.97955791]), pvalue=array([9.12018555e-08, 4.68053874e-15, 2.01987771e-22]))

It looks like females are more successful at reading and writing and males are more successful with math. The results seem to be statistically significan.

In [55]:
eth_mean = df.groupby('race/ethnicity')[metrics].mean()
eth = df['race/ethnicity'].unique()
print(eth_mean)

for var in metrics:
    print('')
    print('---------------------------------------------------------------')
    print('{} T-Test Results'.format(var))
    print('---------------------------------------------------------------')
    for i in range(0, len(eth)):
        for j in range(i+1, len(eth)):
            print('T-Test between {} and {}:'.format(eth[i], eth[j]))
            print(ttest_ind(df[df['race/ethnicity'] == eth[i]][var],
            df[df['race/ethnicity'] == eth[j]][var]))

                math score  reading score  writing score
race/ethnicity
group A          61.629213      64.674157      62.674157
group B          63.452632      67.352632      65.600000
group C          64.463950      69.103448      67.827586
group D          67.362595      70.030534      70.145038
group E          73.821429      73.028571      71.407143

---------------------------------------------------------------
math score T-Test Results
---------------------------------------------------------------
T-Test between group B and group C:
Ttest_indResult(statistic=-0.7315669893534263, pvalue=0.4647708939167453)
T-Test between group B and group A:
Ttest_indResult(statistic=0.9355076279747488, pvalue=0.3503415961659957)
T-Test between group B and group D:
Ttest_indResult(statistic=-2.82845539712675, pvalue=0.004886197137104194)
T-Test between group B and group E:
Ttest_indResult(statistic=-6.007397050552227, pvalue=5.007946047497971e-09)
T-Test between group C and group A:
Ttest_indResult(statistic=1.5997220303217299, pvalue=0.11043810745588042)
T-Test between group C and group D:
Ttest_indResult(statistic=-2.41858624746011, pvalue=0.015888349556016285)
T-Test between group C and group E:
Ttest_indResult(statistic=-6.127642520822135, pvalue=1.927238849552764e-09)
T-Test between group A and group D:
Ttest_indResult(statistic=-3.3466982429712298, pvalue=0.0009068636053543751)
T-Test between group A and group E:
Ttest_indResult(statistic=-5.936141025544798, pvalue=1.083559122656415e-08)
T-Test between group D and group E:
Ttest_indResult(statistic=-4.282287214674715, pvalue=2.3187640326715042e-05)

---------------------------------------------------------------
reading score T-Test Results
---------------------------------------------------------------
T-Test between group B and group C:
Ttest_indResult(statistic=-1.3223156212901772, pvalue=0.1866592809035069)
T-Test between group B and group A:
Ttest_indResult(statistic=1.3633682262027682, pvalue=0.1738735513443721)
T-Test between group B and group D:
Ttest_indResult(statistic=-1.9451563636864795, pvalue=0.0523786206559701)
T-Test between group B and group E:
Ttest_indResult(statistic=-3.386066945409153, pvalue=0.0007951618495240944)
T-Test between group C and group A:
Ttest_indResult(statistic=2.575432218066352, pvalue=0.010364398025471079)
T-Test between group C and group D:
Ttest_indResult(statistic=-0.7970109316408917, pvalue=0.425771382113019)
T-Test between group C and group E:
Ttest_indResult(statistic=-2.7133018645371685, pvalue=0.0069132842804986595)
T-Test between group A and group D:
Ttest_indResult(statistic=-3.0468548573461187, pvalue=0.002488654464332207)
T-Test between group A and group E:
Ttest_indResult(statistic=-4.071106227981414, pvalue=6.463395931833847e-05)
T-Test between group D and group E:
Ttest_indResult(statistic=-2.0106479406031794, pvalue=0.045033306431345586)

---------------------------------------------------------------
writing score T-Test Results
---------------------------------------------------------------
T-Test between group B and group C:
Ttest_indResult(statistic=-1.5964963433740407, pvalue=0.1110010959814519)
T-Test between group B and group A:
Ttest_indResult(statistic=1.4624420577998105, pvalue=0.14475374198993884)
T-Test between group B and group D:
Ttest_indResult(statistic=-3.19929333232526, pvalue=0.0014749978881319053)
T-Test between group B and group E:
Ttest_indResult(statistic=-3.3831978345244518, pvalue=0.0008032300486353951)
T-Test between group C and group A:
Ttest_indResult(statistic=2.848872404992454, pvalue=0.004610690740740428)
T-Test between group C and group D:
Ttest_indResult(statistic=-1.8896631516726248, pvalue=0.05930232918708209)
T-Test between group C and group E:
Ttest_indResult(statistic=-2.3502811868359177, pvalue=0.019183539018898285)
T-Test between group A and group D:
Ttest_indResult(statistic=-4.1556316361449195, pvalue=4.084805733969806e-05)
T-Test between group A and group E:
Ttest_indResult(statistic=-4.2234736631970105, pvalue=3.483278064499439e-05)
T-Test between group D and group E:
Ttest_indResult(statistic=-0.8239736571520918, pvalue=0.4104455517392258)

It looks like there are significan difference between the groups except for between groups A and C and groups A and B

In [78]:
par_mean = df.groupby('parental level of education')[metrics].mean()
par = df['parental level of education'].unique()
print(par_mean)

for var in metrics:
    print('')
    print('---------------------------------------------------------------')
    print('{} T-Test Results'.format(var))
    print('---------------------------------------------------------------')
    for i in range(0, len(par)):
        for j in range(i+1, len(par)):
            print('T-Test between {} and {}:'.format(par[i], par[j]))
            print(ttest_ind(df[df['parental level of education'] == par[i]][var],
            df[df['parental level of education'] == par[j]][var]))

                             math score  reading score  writing score
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268

---------------------------------------------------------------
math score T-Test Results
---------------------------------------------------------------
T-Test between bachelor's degree and some college:
Ttest_indResult(statistic=1.3702352829617477, pvalue=0.17151224218471559)
T-Test between bachelor's degree and master's degree:
Ttest_indResult(statistic=-0.14868196568849312, pvalue=0.8819757824867702)
T-Test between bachelor's degree and associate's degree:
Ttest_indResult(statistic=0.8786641889793243, pvalue=0.38020757818036177)
T-Test between bachelor's degree and high school:
Ttest_indResult(statistic=4.236143622484822, pvalue=2.9965345853843376e-05)
T-Test between bachelor's degree and some high school:
Ttest_indResult(statistic=3.196718602676573, pvalue=0.0015409192922812146)
T-Test between some college and master's degree:
Ttest_indResult(statistic=-1.2356334215824571, pvalue=0.21761956810347416)
T-Test between some college and associate's degree:
Ttest_indResult(statistic=-0.5426842696247527, pvalue=0.5876182809234072)
T-Test between some college and high school:
Ttest_indResult(statistic=3.5461079495681163, pvalue=0.00043498004192453146)
T-Test between some college and some high school:
Ttest_indResult(statistic=2.4117046231407633, pvalue=0.016324361572645503)
T-Test between master's degree and associate's degree:
Ttest_indResult(statistic=0.8411229688563471, pvalue=0.4009993636124658)
T-Test between master's degree and high school:
Ttest_indResult(statistic=3.4893759321890823, pvalue=0.000570929230228812)
T-Test between master's degree and some high school:
Ttest_indResult(statistic=2.6442572081925526, pvalue=0.008736228790471057)
T-Test between associate's degree and high school:
Ttest_indResult(statistic=3.9481325318265013, pvalue=9.247314274963044e-05)
T-Test between associate's degree and some high school:
Ttest_indResult(statistic=2.820053979930256, pvalue=0.005041081492906143)
T-Test between high school and some high school:
Ttest_indResult(statistic=-0.8640629490772553, pvalue=0.388108610360687)

---------------------------------------------------------------
reading score T-Test Results
---------------------------------------------------------------
T-Test between bachelor's degree and some college:
Ttest_indResult(statistic=2.2048821209085077, pvalue=0.028127555314401052)
T-Test between bachelor's degree and master's degree:
Ttest_indResult(statistic=-1.0540858949475984, pvalue=0.293296751317879)
T-Test between bachelor's degree and associate's degree:
Ttest_indResult(statistic=1.2977969850452833, pvalue=0.19524206483091092)
T-Test between bachelor's degree and high school:
Ttest_indResult(statistic=5.017577900835298, pvalue=8.804250310784477e-07)
T-Test between bachelor's degree and some high school:
Ttest_indResult(statistic=3.4039270673798745, pvalue=0.0007561971719730451)
T-Test between some college and master's degree:
Ttest_indResult(statistic=-2.888843374950649, pvalue=0.004165440800640354)
T-Test between some college and associate's degree:
Ttest_indResult(statistic=-1.11231882169149, pvalue=0.26660028539980146)
T-Test between some college and high school:
Ttest_indResult(statistic=3.4578427683620334, pvalue=0.0006001048481252139)
T-Test between some college and some high school:
Ttest_indResult(statistic=1.714161972758909, pvalue=0.08726786856243877)
T-Test between master's degree and associate's degree:
Ttest_indResult(statistic=2.1912015759838686, pvalue=0.02926414570972208)
T-Test between master's degree and high school:
Ttest_indResult(statistic=5.113158728723477, pvalue=6.257558119816884e-07)
T-Test between master's degree and some high school:
Ttest_indResult(statistic=3.7261574122231513, pvalue=0.00024334552617191513)
T-Test between associate's degree and high school:
Ttest_indResult(statistic=4.538021419898997, pvalue=7.442167797135797e-06)
T-Test between associate's degree and some high school:
Ttest_indResult(statistic=2.7183602204037927, pvalue=0.006846770119677965)
T-Test between high school and some high school:
Ttest_indResult(statistic=-1.461284757591555, pvalue=0.1447791955248275)

---------------------------------------------------------------
writing score T-Test Results
---------------------------------------------------------------
T-Test between bachelor's degree and some college:
Ttest_indResult(statistic=2.6803314684632196, pvalue=0.00771101202367254)
T-Test between bachelor's degree and master's degree:
Ttest_indResult(statistic=-0.9998741306804844, pvalue=0.3187519641464658)
T-Test between bachelor's degree and associate's degree:
Ttest_indResult(statistic=2.1159296639133762, pvalue=0.03508162451719667)
T-Test between bachelor's degree and high school:
Ttest_indResult(statistic=6.547380937127048, pvalue=2.4076253789515874e-10)
T-Test between bachelor's degree and some high school:
Ttest_indResult(statistic=4.667733097498242, pvalue=4.628198526834338e-06)
T-Test between some college and master's degree:
Ttest_indResult(statistic=-3.1687690632394907, pvalue=0.0016985933135959495)
T-Test between some college and associate's degree:
Ttest_indResult(statistic=-0.7615968643953912, pvalue=0.44670316603036575)
T-Test between some college and high school:
Ttest_indResult(statistic=4.488520877492127, pvalue=9.275017802620877e-06)
T-Test between some college and some high school:
Ttest_indResult(statistic=2.5757211403792417, pvalue=0.01035852908608136)
T-Test between master's degree and associate's degree:
Ttest_indResult(statistic=2.78124154906855, pvalue=0.00578403270525775)
T-Test between master's degree and high school:
Ttest_indResult(statistic=6.360904883721531, pvalue=9.326930296880332e-10)
T-Test between master's degree and some high school:
Ttest_indResult(statistic=4.707583817143559, pvalue=4.275465153074631e-06)
T-Test between associate's degree and high school:
Ttest_indResult(statistic=5.348725635626432, pvalue=1.4650545536741998e-07)
T-Test between associate's degree and some high school:
Ttest_indResult(statistic=3.3317223453475715, pvalue=0.0009435990258795855)
T-Test between high school and some high school:
Ttest_indResult(statistic=-1.5838885273076473, pvalue=0.11406653932963291)

Significant differences definitely exist here

2. Are there any differences between the lunch types with respect to their performances in exams? If there are, how do you explain this?

In [64]:
lunch = df.groupby('lunch')[metrics].mean()

ttest_ind(df[df['lunch'] == 'free/reduced'][metrics],
         df[df['lunch'] == 'standard'][metrics])

Ttest_indResult(statistic=array([-11.83718047,  -7.45105647,  -8.0097842 ]), pvalue=array([2.41319560e-30, 2.00279665e-13, 3.18618958e-15]))

It looks like there is a significant difference in success based on type of lunch. This is probably related to the education level of the parents (which also produces significant differences), as more educated parents are more likely to have more money to spend on their kids' lunch.

3. Does the test preparation course seem to have an effect on the exam performances?

In [75]:
prep = df.groupby('test preparation course')[metrics].mean()
print(prep)

ttest_ind(df[df['test preparation course'] == 'completed'][metrics],
         df[df['test preparation course'] == 'none'][metrics])

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

Ttest_indResult(statistic=array([ 5.70461642,  7.87166354, 10.40917344]), pvalue=array([1.53591346e-08, 9.08178334e-15, 3.68529174e-24]))

The test preparation courses do indeed make a difference.

4. Which 2 exam scores are most correlated with each other?

In [77]:
df.corr()

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

Reading and writing are most correlated with each other.